@import "_variables";

// Theme Bootstrap

$border-radius: 2px;
$border-radius-lg: 2px;

$theme-colors: (
"primary": #1b75bc,
"secondary": #ffb300,
"tertiary": #418e37,
"danger": #b10d28
);

@import "~bootstrap/scss/bootstrap.scss";

// Global Styles

html,
body,
.wrapper,
#app-main {
    height: 100%;
}

body {
    font-size: 1em;
    font-family: "Source Sans Pro";
    line-height: 1.5;
    background: #f9f9f9;
}

.sixteen-nine {
    position: relative;
}
.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-dark {
    background: #031A43 !important;
}

.btn-primary, .btn-secondary {
    color: white !important;
}

.pad {
    padding: 1em;
}

.flat {
    margin: 0 !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.hlight {
    color: $col-success;
    background-color: $col-success-bg;
    padding: 0 0.2em;
}
