@import "../../sass/_variables";

.operator {
    color: $col-meta-2;
}
.field {
    color: $col-ter;
    &.invalid {
        color: $col-error !important;
    }
}
.term {
    color: $col-black;
}
.paren {
    color: $col-meta-2;
}
