@import "../../sass/_variables";

@keyframes revealContent {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.client {
    opacity: 0;
    animation: revealContent 200ms 400ms ease forwards;
}
.get-started {
    margin: 2rem;
    opacity: 0.8;
}

// Typeahead. TODO: Component and BEM
.suggest-fields-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-bottom: 0.5rem;
}
.suggest-fields {
    padding-left: 1rem;
    width: 100%;
}
.suggest-field {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.2em 0;
    border-bottom: 1px solid $col-borders;
    font-size: 1.2rem;
    width: 100%;
    &.active, &:hover {
        font-weight: bold;
        background: rgba(250, 250, 250, 1);;
        color: $col-ter;
    }
}
