<div>
    <section class="client pad">
        <div class="form-row">
            <div class="col-md-9">
                <div style="position: relative;">
                    <input class="form-control form-control-lg"
                        type="search"
                        v-model="q"
                        @keyup="keyup"
                        :placeholder="placeholder"
                        :class="{'is-invalid': error}"
                        spellcheck="false"
                        autofocus
                    >

                    <b-form-invalid-feedback v-if="error">
                        {{error.message}}
                        <span v-if="error.location">
                            :{{error.location.start.offset}}
                        </span>
                    </b-form-invalid-feedback>

                    <b-form-text v-if="looksLike.patentQuery && looksLike.scholarQuery">
                        <strong>Warning: </strong>
                        boolean query references both scholarly and patent fields, which may result in reduced results.
                    </b-form-text>

                    <div v-if="suggestFields.length || suggestTerms.length" class="suggest-fields-container">
                        <div v-for="(field, i) in suggestFields" class="suggest-fields">
                            <div @click="selectField(field)" class="suggest-field" :class="{active: i === selectedFieldIndex}">
                                {{field}}
                            </div>
                        </div>
                        <div v-for="(field, i) in suggestTerms" class="suggest-fields">
                            <div @click="selectTerm(field)" class="suggest-field" :class="{active: i === selectedFieldIndex}">
                                {{field}}
                            </div>
                        </div>
                        <!--
                        final repeat here for classification suggest endpoint results or scholar store suggest endpoint
                        if cors is a pain just do simple dictionary endpoint on node server
                        -->
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-lg" @click="submit">Search</button>
            </div>
            <!--
            <div class="col col-md-2">
                <b-form-group label="Data Sources:">
                    <b-form-checkbox-group id="checkboxes1" name="flavour1" v-model="show" :options="dataSourceOptions">
                    </b-form-checkbox-group>
                </b-form-group>
            </div>
            -->
        </div>
        <div v-if="q.length > 0">

            <div class="query-display well pad" :class="{'show': q.length}">
                <query :message="q" :query="query" :depth="1"></query>
            </div>

            <div class="badges">
                <b-badge variant="success" v-if="looksLike.scholarlyId">
                    Scholarly ID: {{idType}}
                </b-badge>
                <b-badge variant="success" v-if="looksLike.classification">
                    Classification
                </b-badge>
                <b-badge variant="success" v-if="looksLike.patentQuery && !looksLike.scholarly">
                    Valid Patent Query
                </b-badge>
                <b-badge variant="success" v-if="looksLike.scholarQuery && !looksLike.patentQuery">
                    Valid Scholar Query
                </b-badge>
            </div>

            <div v-if="loading.articles || loading.patents">
                Loading...
            </div>

            <div class="row">

                <div class="col col-md-6 reveal-result" v-if="q.length && show.queryParserResult">
                    <b-card header="Parsed query">
                        <pre>{{query}}</pre>
                    </b-card>
                </div>

                <div class="col col-md-6 reveal-result" v-if="q.length && classifications.length">
                    <b-card header="Classification">
                        <div v-for="item in classifications">
                            <h4>{{item.symbol}}</h4>
                            <small>{{item.classTitle}}</small>
                            <hr>
                            <!-- <pre>{{item}}</pre> -->
                        </div>
                        <!-- <a class="card-link" :href="'/lens/#/classification-viewer/CPC/' + q">View in Classification Viewer</a> -->
                    </b-card>
                </div>

                <div class="col col-md-6 reveal-result" v-if="articles.length">
                    <b-card header="Most relevant Scholarly Works">
                        <p>{{totalArticles}} results</p>
                        <div v-for="(article, i) in articles">
                            <h4>{{i}}. doi ...</h4>
                            <small>{{article.title}}</small>
                            <hr>
                        </div>
                        <a class="card-link" :href="'/lens/scholar/search?q=' + q">View all results in scholar search</a>
                    </b-card>
                </div>

                <div class="col col-md-6 reveal-result" v-if="patents.length">
                    <b-card header="Most relevant Patents">
                        <ul>
                            <li v-for="patent in patents">
                                {{patent.displayKey}}:
                                {{patent.title}}
                            </li>
                        </ul>
                        <a class="card-link" :href="'/lens/search?q=' + q">View all results in patent search</a>
                    </b-card>
                </div>

                <div class="col col-md-6 reveal-result" v-if="hasPatentFacets">
                    <b-card header="Patent Facets">
                        <facets :facets="patentFacets"></facets>
                        <a class="card-link" :href="'/lens/search?v=analysis&q=' + q">View in patent analysis</a>
                    </b-card>
                </div>

                <div class="col col-md-6 reveal-result" v-if="hasScholarFacets">
                    <b-card header="Scholar Facets">
                        <facets :facets="scholarFacets"></facets>
                        <a class="card-link" :href="'/lens/scholar/search/analysis?q=' + q">View in scholar analysis</a>
                    </b-card>
                </div>

                <div class="col col-md-12 reveal-result" v-if="patents.length && show.table">
                    <vue-good-table
                        :columns="columns"
                        :rows="patents"
                        :paginate="true"
                        :lineNumbers="true"
                    />
                </div>

                <div class="col col-md-12 reveal-result" v-if="articles.length && show.table">
                    <vue-good-table
                        :columns="articleColumns"
                        :rows="articles"
                        :paginate="true"
                        :lineNumbers="true"
                    />
                </div>
            </div>

        </div>

        <div v-if="!q.length" class="get-started">
            <h2>What can I search for?</h2>
            <p class="lead">Start typing to start your guided knowledge journey with the Lens.</p>
            <p>Depending on the contents of your query, we will attempt to provide intelligent results.</p>
            <p>Full boolean query syntax is supported for patent and scholarly searches.</p>
            <!--
            <ul class="hidden">
                <li v-for="suggestion in suggestions">
                    <span class="" @click="suggest(suggestion)">{{suggestion}}</span>
                </li>
            </ul>
            -->
        </div>

    </section>
</div>
