@import "../../sass/_variables";
@keyframes revealClient {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.client {
    position: relative;
    transform: translateZ(0);
    transition: transform 375ms ease-out;
    z-index: 50;
    padding-top: 56px;
    height: 100%;
    padding-top: 300px;
}

html,
body,
.wrapper,
#app-main {
    height: 100%;
}

.client__content {
    opacity: 0;
    padding-top: 1.25rem;
}

// Typeahead
.suggest-fields-container {
    position: absolute;
    left: 0;
    right: 8.75rem;
    width: auto;
    z-index: 1;
}

.suggest-field {
    cursor: pointer;
    background: #fff;
    padding: 0.25rem 1.25rem;
    border-bottom: 1px solid $col-borders;
    &.active,
    &:hover {
        font-weight: bold;
        color: $col-ter;
    }
}

.search {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    transition: transform 200ms ease;
    width: 800px;
    margin-left: -400px;
    left: 50%;
    top: 56px;
    height: 400px;
    transform: translateY(calc(50vh - 50%));
    z-index: 1; // Simon - stop stacking over splash
}

.search__hero {
    transition: opacity 200ms ease;
    margin-bottom: 6.25rem;
}

.search__query {
    position: absolute;
    left: 0;
    top: 0;
    right: 8.75rem;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    background: white;
    transition: opacity 200ms ease;
    opacity: 0;
    transform: translateY(-100%);
    z-index: 20;
    white-space: nowrap;
    overflow-x: scroll;
}

// TODO: on PARSED not loading. Also not just :hover but js blur/focus etc
.client.loaded .search__query {
    opacity: 1;
    transform: translateY(0)
}

@keyframes revealSearchWrap {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search__wrap {
    opacity: 0;
    animation: revealSearchWrap 200ms 600ms ease forwards;
    position: relative;
    width: 100%;
}

.search__box-wrap {
    position: relative;
}

.search__box {
    display: flex;
    position: relative;
    overflow: hidden;
}

.search__feedback {
    height: 3.125rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.search__title {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
    text-align: center;
    color: #fff;
}

.search__input {
    position: relative;
    z-index: 5;
    border-radius: 2px 0 0 2px;
    outline: 0 !important;
    height: 3.75rem;
    font-size: 1rem;
    flex: 1;
}

.search__btn {
    border-radius: 0 2px 2px 0;
    padding: 0;
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1rem;
    width: 8.75rem;
}

.curtain {
    background: #031A43 url('~/assets/img/masthead.png') top no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 375ms ease;
    position: fixed;
}

.client.loading .curtain {
    transform: translateY(calc(-100% + 300px));
}

.client.loading .search {
    transform: translateY(-144px);
}

.client.loading .search__hero {
    opacity: 0;
}

.client.loaded .client__content {
    animation: revealClient 200ms 375ms ease forwards;
}

.client.loaded .search__box:hover .search__query {
    transform: translateY(-100%);
}

.client__loader {
    text-align: center;
    padding: 10rem 2rem;
    opacity: 0;
}

.client.loading .client__loader {
    animation: revealClient 375ms 375ms ease forwards;
}

.client.loaded .client__loader {
    display: none;
}
