@import "../../sass/_variables";

@keyframes revealClient {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.client {
    opacity: 0;
    animation: revealClient 200ms 400ms ease forwards;
    padding-top: 1.25rem;
}

.get-started {
    margin: 2rem;
    opacity: 0.8;
}

// Typeahead. TODO: Component and BEM
.suggest-fields-container {
    position: absolute;
    left: 1.25rem;
    width: auto;
    z-index: 1;
}
.suggest-field {
    cursor: pointer;
    background: #fff;
    padding: 0.25rem 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    border-bottom: 1px solid $col-borders;
    &.active, &:hover {
        font-weight: bold;
        color: $col-ter;
    }
}


@keyframes revealResult {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-result {
    opacity: 0;
    animation: revealResult 375ms 375ms ease forwards;
}

.search {
    padding: 2rem;
    padding-top: 2.25rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(-180deg, #031A43 0%, #1B5888 100%);
}

.search__box {
    display: flex;
    position: relative;
}

.search__title {
    margin-bottom: 1.25rem;
    text-align: center;
    color: #fff;
}

.search__input {
    border-radius: 2px 0 0 2px;
    outline: 0 !important;
    height: 3.75rem;
    font-size: 1rem;
}

.search__btn {
    border-radius: 0 2px 2px 0;
    padding: 0 3rem;
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1rem;
}

.search__tags {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.4rem 1.25rem;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    border-radius: 0 0 2px 2px;
    color: #fff;
    font-size: 0.75rem;
}

.tags {
    display: flex;
}
