@keyframes revealNav {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-navbar {
    opacity: 0;
    animation: revealNav 200ms ease forwards;
}
