<div>
    <div class="splash">
        <div class="text-center">
            <img class="logo" src="assets/img/logo.png" alt="LENS.ORG - Solving the problem of problem solving">
            <div class="links pad">
                <a class="btn btn-secondary" v-scroll-to="'#docs'">
                    Learn More
                </a>
                <router-link class="btn btn-primary" to="/app">
                    Get Started
                </router-link>
            </div>
        </div>
    </div>
    <div id="docs" class="docs container">
        <nav class="docs-nav">
            <a href="#" class="docs-nav-item">Home</a>
            <a href="#goal" class="docs-nav-item">Goal</a>
            <a href="#prior-work" class="docs-nav-item">Prior Work</a>
            <a href="#workflow" class="docs-nav-item">Workflow</a>
            <a href="#technical-goals" class="docs-nav-item">Technical Goals</a>
        </nav>
        <div v-html="docs"></div>
    </div>
</div>
