.splash {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes revealLogo {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
    opacity: 0;
    max-width: 400px;
    animation: revealLogo 500ms ease forwards;
}

@keyframes revealLinks {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  margin-top: 1em;
  opacity: 0;
  padding-top: 2em;
  animation: revealLinks 200ms 600ms ease forwards;
}
