    <div>
    <div class="splash">
        <div class="text-center">
            <img class="logo" src="assets/img/logo.png" alt="LENS.ORG - Solving the problem of problem solving">
            <div class="links pad">
                <router-link class="btn btn-secondary" to="/docs">
                    Learn More
                </router-link>
                <router-link class="btn btn-primary" to="/app">
                    Get Started
                </router-link>
            </div>
        </div>
    </div>
</div>
